* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black; /* dev purposes */
}

#question-pane {
  height: 100%;
  flex-basis: 40%;
}

#question-text {
  font-weight: bold;
  font-size: 300%;
}

#choices-pane {
  height: 100%;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.choice-container {
  cursor: pointer;
  width: 100%;
  flex: 1 1;
}
